:javascript
  function refresh() {window.location.reload();}
%h1 Devices List
%button{:type => "button", :class => "btn btn-warning", :style => "float: right;", :onclick => "refresh()"} Refresh
%form{:role => "form", :action => '/devices/', :method => 'post'}
  %table{:class => "table table-striped table-hover"}
    %thead
      %tr
        %td 
        %td Serial Number
        %td Manufacturer
        %td Brand
        %td Model
    %tbody
      - devices.each do |device|
        %tr
          %td
            %input{:type => "radio", :name => "device_sn", :value => "#{device['sn']}"}
          %td= device['sn']
          %td= device['manufacturer']
          %td= device['brand']
          %td= device['model']
  %div{:class => "new-line"}
    %button{:type => "submit", :class => "btn btn-success center-block"} Select
- if session[:device_sn]
  %br
  %strong Chosen Device:&nbsp;
  %em #{session[:device_sn]}
- if session[:package_name] && !session[:package_name].empty?
  %br
  %strong Chosen Application Package:&nbsp;
  %em #{session[:package_name]}