:javascript
  PNotify.prototype.options.styling = "bootstrap3";
  var screenshots = #{settings.screenshot_files};
  var imagesList = [];
  for (var i = 0; i < screenshots.length; i++) {
    imagesList.push({img: "img/screenshots/" + screenshots[i], caption: screenshots[i].replace(/screenshot_/, '').replace(/\.png/, '')});
  }
  $(document).ready(function() {
    loadDevicesList();
  });
  function loadDevicesList() {
    $.get('/api/devices.json', function(data) {
      $("#devicesList").empty();
      if (data.length > 0) {
        $("#devicesList").append($("<table>").attr("class", "table table-striped table-hover").append($("<thead>").append($("<tr>").append($("<td>").text("")).append($("<td>").text("Serial Number")).append($("<td>").text("Manufacturer")).append($("<td>").text("Brand")).append($("<td>").text("Model")))).append($("<tbody>")));
        data.forEach(function(item) {
          $("#devicesList").find("tbody").append($("<tr>").append($("<td>").append($("<input>").attr({name: "device_sn", type: "radio", value: item.sn}))).append($("<td>").text(item.sn)).append($("<td>").text(item.manufacturer)).append($("<td>").text(item.brand)).append($("<td>").text(item.model)));
        });
        $("#devicesList").append($("<div>").attr("class", "new-line").append($("<button>").attr({id: "btnSelectDevice", type: "submit", class: "btn btn-success center-block"}).text("Select")));
        $("#btnSelectDevice").attr("disabled", false).css("visibility", "visible");
      } else {
        $("#btnSelectDevice").attr("disabled", true).css("visibility", "hidden");
        $("#chosenDevice").empty();
        $("#chosenPackage").empty();
        $("#btnScreenshot").remove();
      }
    });
  }
  function deletePackage() {
    $.ajax({
      url: '/api/devices/#{session[:device_sn]}/packages/#{session[:package_name]}/',
      type: 'DELETE',
      success: function(result) {
        new PNotify({
          type: 'success',
          title: false,
          text: 'Application #{session[:package_name]} is removed',
          icon: false,
          shadow: true,
          animation: 'fade',
          animate_speed: 'slow',
          delay: 2000,
          remove: true
        });
      },
      error: function(result) {
        new PNotify({
          type: 'error',
          title: false,
          text: 'Can not uninstall application #{session[:package_name]}',
          icon: false,
          shadow: true,
          animation: 'fade',
          animate_speed: 'slow',
          delay: 2000,
          remove: true
        });
      }
    });
  }
  function deletePackageData() {
    $.ajax({
      url: '/api/devices/#{session[:device_sn]}/packages/#{session[:package_name]}/data/',
      type: 'DELETE',
      success: function(result) {
        new PNotify({
          type: 'success',
          title: false,
          text: 'Data and cache for application #{session[:package_name]} are removed',
          icon: false,
          shadow: true,
          animation: 'fade',
          animate_speed: 'slow',
          delay: 2000,
          remove: true
        });
      },
      error: function(result) {
        new PNotify({
          type: 'error',
          title: false,
          text: 'Can not remove data or cache for application #{session[:package_name]}',
          icon: false,
          shadow: true,
          animation: 'fade',
          animate_speed: 'slow',
          delay: 2000,
          remove: true
        });
      }
    });
  }
  function takeScreenshot() {
    $.post('/api/devices/#{session[:device_sn]}/screenshots', null, function(data) {
      var regex = /\/(screenshot_[^\/]*\.png)$/;
      var newFile = data['file_path'].match(regex)[1];
      imagesList.unshift({img: "img/screenshots/" + newFile, caption: newFile.replace(/screenshot_/, '').replace(/\.png/, '')});
      var $fotoramaDiv = $('#fotorama').fotorama();
      var fotorama = $fotoramaDiv.data('fotorama');
      fotorama.load(imagesList);
      new PNotify({
        type: 'success',
        title: false,
        text: 'New screenshot is taken',
        icon: false,
        shadow: true,
        animation: 'fade',
        animate_speed: 'slow',
        delay: 2000,
        remove: true
      });
    });
  }
%h2 Devices List
%button{:type => "button", :class => "btn btn-warning", :onclick => "loadDevicesList()"} Reload
%form{:role => "form", :action => '/devices/', :method => 'post'}
  %div{:id => "devicesList"}
- if session[:device_sn]
  %div{:id => "chosenDevice", :class => "new-line"}
    %strong Chosen Device:&nbsp;
    %em #{session[:device_sn]}
- if session[:package_name] && !session[:package_name].empty?
  %div{:id => "chosenPackage", :class => "new-line"}
    %strong Chosen Application Package:&nbsp;
    %em #{session[:package_name]}
  %div{:class => "new-line"}
    %button{:id => "btnDeletePackage", :type => "button", :class => "btn btn-danger", :onclick => "deletePackage()"} Delete Application
  %div{:class => "new-line"}
    %button{:id => "btnDeletePackageData", :type => "button", :class => "btn btn-danger", :onclick => "deletePackageData()"} Remove App Data & Cache
- if session[:device_sn]
  %div{:class => "new-line"}
    %button{:id => "btnScreenshot", :type => "button", :class => "btn btn-primary", :onclick => "takeScreenshot()"} Take Screenshot
- unless settings.screenshot_files.empty?
  %h2 Screenshots
  %div{:id => "fotoramaContainer", :class => "centeredImgDiv"}
    %div{:id => "fotorama", :class => "fotorama", :'data-nav' => "thumbs", :'data-width' => "50%"}
      - settings.screenshot_files.each do |screenshot|
        %img{:src => "img/screenshots/#{screenshot}", :'data-caption' => "#{screenshot.gsub(/screenshot_/, '').gsub(/\.png/, '')}"}