:javascript
  // window.setTimeout(function(){window.location.reload();}, 1500);
%h1 Devices List
%form{:role => "form", :action => '/devices/', :method => 'post'}
  %table{:class => "table table-striped table-hover"}
    %thead
      %tr
        %td 
        %td Serial Number
        %td Manufacturer
        %td Brand
        %td Model
    %tbody
      - devices.each do |device|
        %tr
          %td
            %input{:type => "radio", :name => "device_sn", :value => "#{device['sn']}"}
          %td= device['sn']
          %td= device['manufacturer']
          %td= device['brand']
          %td= device['model']
  %div{:class => "new-line"}
    %button{:type => "submit", :class => "btn btn-default"} Select