:javascript
  function refresh() {
    window.location.reload();
  }
  function takeScreenshot() {
    var screenshots = #{settings.screenshot_files};
    $.post('/devices/#{session[:device_sn]}/screenshots', null, function(data) {
      var regex = /\/(screenshot_[^\/]*\.png)$/;
      var newFile = data['file_path'].match(regex)[1];
      var imagesList = [];
      imagesList.push({img: "img/screenshots/" + newFile});
      for (var i = 0; i < screenshots.length; i++) {
        imagesList.push({img: "img/screenshots/" + screenshots[i]});
      }
      var $fotoramaDiv = $('#fotorama').fotorama();
      var fotorama = $fotoramaDiv.data('fotorama');
      fotorama.load(imagesList);
      // add data-caption
      // need a way to update settings.screenshot_files ruby variable
    });
  }
%h2 Devices List
%button{:type => "button", :class => "btn btn-warning", :style => "float: right;", :onclick => "refresh()"} Refresh
%form{:role => "form", :action => '/devices/', :method => 'post'}
  %table{:class => "table table-striped table-hover"}
    %thead
      %tr
        %td 
        %td Serial Number
        %td Manufacturer
        %td Brand
        %td Model
    %tbody
      - devices.each do |device|
        %tr
          %td
            %input{:type => "radio", :name => "device_sn", :value => "#{device['sn']}"}
          %td= device['sn']
          %td= device['manufacturer']
          %td= device['brand']
          %td= device['model']
  %div{:class => "new-line"}
    %button{:type => "submit", :class => "btn btn-success center-block"} Select
- if session[:device_sn]
  %div{:class => "new-line"}
    %strong Chosen Device:&nbsp;
    %em #{session[:device_sn]}
- if session[:package_name] && !session[:package_name].empty?
  %div{:class => "new-line"}
    %strong Chosen Application Package:&nbsp;
    %em #{session[:package_name]}
- if session[:device_sn]
  %div{:class => "new-line"}
    %button{:type => "button", :class => "btn btn-primary", :onclick => "takeScreenshot()"} Take Screenshot
- unless settings.screenshot_files.empty?
  %h2 Screenshots
  %div{:id => "fotoramaContainer", :class => "centeredImgDiv"}
    %div{:id => "fotorama", :class => "fotorama", :'data-nav' => "thumbs", :'data-width' => "50%"}
      - settings.screenshot_files.each do |screenshot|
        %img{:src => "img/screenshots/#{screenshot}", :'data-caption' => "#{screenshot.gsub(/screenshot_/, '').gsub(/\.png/, '')}"}